@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background: #f1f1f1;
    font-size: 16px;
    font-family: "roboto", sans-serif;
    font-weight: normal;
    color: #0f141e;
}

.container{
    margin: auto;
    max-width: 850px;
    padding-top: 30px;

}

.info{
    margin-bottom: 10px;
    display: flex;
}

.info-text{
    margin-left: 40px;
}

.info-text li {
    font-style: initial;
    font-weight: bold;
    color: #0f141e;
}

h1{
    color: green;
}

h3{
    margin-bottom: 10px;
    /* background: rgba(170, 233, 162, 0.2); */
    color: rgb(53, 53, 121);
}

@media (max-width:600px) {
    .info{
        display: block;
        text-align: center;
    }
}

.card{
    margin-bottom: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 0px;
    border: 1px solid rgb(93, 228, 228);
    border-radius: 10px;
}

.bg-green{
    background-color: rgb(200, 243, 243);
    min-width: fit-content;
}

.bg-red{
    background-color: rgb(238, 195, 195);
}

.bg-yellow{
    background-color: rgb(241, 241, 194);
}

.avatar{
    width: 200px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.5);
    border-radius:20px;
}

.btn{
    background-color:#000 ;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-family: inherit;
}

.btn:hover{
    opacity: .8;
    
}

.btn:active{
    color: orange;
}

a{
    background-color: rgb(0, 0, 0);
    color: #fff;
    border-radius: 5px;
    margin-bottom: 0px;
    padding: 3px;
    text-decoration: none;
}

a:hover{
    opacity: .8
}

a:active{
    color: orange;
}

.table{
width: 100%;
}

.list{
    margin: 0;
    padding: 0;
    /* list-style: none; */
    padding: 10px;
    margin-bottom: 10px;
}


.table td:nth-child(2), .table td:last-child{
    color: #86898f;
}

.form h3{
    text-align: center;
}

.form h2{
    text-align: center;
}


.form-row{
 margin-bottom: 10px;
 display: flex;
}

.form-row .form-group{
 display: inline-block;
 margin-right: 20px;
 width: 50%; 
}

.form-row .form-group:last-child{
    margin-right: 0;
}
 
.form-group label{
 display: block;
 font-size: 14px;
 color: #86898f;
}

@media (max-width:600px) {
    .form-row{
        display: block;
    }
    .form-row .form-group{
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
}

.form-group input,
.form-group textarea
{
    width: 100%;
    border: none;
    box-sizing: border-box;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
    
}